body {
background-color: bisque;
font-family: Bai jamjuree;
}

#conteiner{}
.cartão {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}
.cartão_conteudo{
    text-align: center;
    background-color: aquamarine;
    height: 100%;
}

footer {
    background-color: black;
    color: pink;
    position: fixed;
    bottom:0;
    position:100%;
    width: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0,5rem;
}
