background-color: black;
    color: white;
}
footer {
#container 
    display: flex: ;;
    background-color: black;
    color: white;
    .cartão { margin: 1rem 1rem;
    }
    bottom:0;
    position:fixed;
    width:100%;
}
footer p{
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0,5rem
}
